In [2]:
import pandas as pd
import numpy as np

In [3]:
df_regresion = pd.read_csv(filepath_or_buffer = 'datos_regresion.csv',sep = ' ')
list(df_regresion.columns)
df_regresion

          x         y
0 -0.063556  1.818589
1  0.546759  2.395839
2  0.531130  2.381142
3  0.548055  2.399582
4  0.833098  2.705020
5  0.568373  2.443446
6 -0.188605  1.355136
7  0.079061  1.747528
8  0.599301  2.591982
9  0.417101  2.534131

In [4]:
df_cl = pd.read_csv(filepath_or_buffer = 'datos_clasificacion.csv',sep = ' ')
df_cl

       x  y
0   0.26  0
1   0.74  1
2   0.48  0
3   0.96  1
4   0.24  0
..   ... ..
95  0.43  0
96  0.11  0
97  0.76  1
98  0.52  0
99  0.19  0

[100 rows x 2 columns]

In [5]:
max_ = max(df_cl['x'])
min_ = min(df_cl['y'])

In [6]:
df_cl.iloc[1]['x']

0.74

In [7]:
min_

0

In [17]:
sums = []
x = [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]
x0 = [0.05,0.15,0.25,0.35,0.45,0.55,0.65,0.75,0.85,0.95]
i_= 0
sumtemp=0
sumtemp2=0
for i in x:
    for j in range(0,len(df_cl)-1):
        if df_cl.iloc[j]['x'] <= i and j > i_
            sumtemp2 = sumtemp2+1
        if df_cl.iloc[j]['x'] <= i and j > i_ and df_cl.iloc[j]['y']==1:
            sumtemp = sumtemp+1
    sumtemp = sumtemp/100
    i_=i
    sums.append(sumtemp)
    sumtemp = 0

In [18]:
sums

[0.0, 0.0, 0.0, 0.0, 0.0, 0.01, 0.02, 0.04, 0.06, 0.17]

In [19]:
10+11+17+16+10+4+7+6+7+12

100

In [20]:
df = pd.DataFrame(list(zip(x0, sums)),
               columns =['x', 'y'])
df

      x     y
0  0.05  0.00
1  0.15  0.00
2  0.25  0.00
3  0.35  0.00
4  0.45  0.00
5  0.55  0.01
6  0.65  0.02
7  0.75  0.04
8  0.85  0.06
9  0.95  0.17

In [21]:
df.to_csv('logistic1.csv', index=False)

In [15]:
for i in df_cl:
    print(i)
    print(type(i))

x
<class 'str'>
y
<class 'str'>

In [ ]:
len(df_cl)

In [ ]:
type(df_regresion['x'])

In [ ]:
m, b = np.polyfit(df_regresion['x'], df_regresion['y'], 1)

In [ ]:
m

In [ ]:
b